.color-white{color:white;}
.t-center{text-align: center;}
.color-gray{color:gray;}
.load-mask{
    width:100%;
    height:100%;
    background: black;
    position: relative;
    z-index:10000;
}
.load-container{
    width:200px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* 这里一下是load的效果 */
.load{
    border:2px solid #3194de;
    border-radius: 50%;
    width:60px;
    height:60px;
    margin:10px auto;
    position: relative;
}
.load:after{
    content:"";
    display:block;
    width:40px;
    height:40px;
    position: absolute;
    background: #3194de;
    margin:-20px 0 0 -20px;
    border-radius: 50%;
    top:50%;
    left:50%;
}
.load-box{
    border:30px solid rgba(255,255,255,0);
    border-top-color: #3194de;
    border-radius: 50%;
    animation: rote 1s 0s linear infinite;
}
@keyframes rote {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}